{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "react/sort-comp": [0],
    "indent": [2, 4, { "SwitchCase": 1, "VariableDeclarator": 1 }],
    "quote-props": [2, "consistent-as-needed"]
  }
}
