{
    "env": {
        "es6": true,
        // For using 'document'
        "browser": true,
        // For using 'module'
        "node": true,
        // For jest test globals
        "jasmine": true,
    },
    "parser": "babel-eslint",
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:jest/recommended",
        "plugin:prettier/recommended",
        "plugin:import/errors",
        "prettier",
        "prettier/react"
    ],
    "rules": {
        "react/jsx-no-bind": ["warn", { "allowArrowFunctions": true }],
        "react/no-unescaped-entities": ["off"]
    },
    "settings": {
        "react": {
          // Define this otherwise the rule produces a warning
            "version": "detect"
        },
        "import/resolver": {
          "node": {
            "extensions": [".js",".jsx"]
          }
        }
    }
}
