@import (inline) "../../node_modules/bulma/css/bulma.css";

@import (inline) "~react-datepicker/dist/react-datepicker.css";

@import (inline) "./react-tags.css";

.react-datepicker-wrapper {
  display: block !important;
}

.react-datepicker__time-container--with-today-button {
  right: -85px;
  top: -1px;
}

.react-datepicker__time,
.react-datepicker__today-button {
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

@rw-img-path: "~react-widgets/lib/img";
@rw-font-path: "~react-widgets/lib/fonts";
@rw-css-prefix: rw-i;
@rw-version: "4.1.0";

.@{rw-css-prefix} {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1em;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.@{rw-css-prefix}-caret-down:before {
  content: "\f078";
}
.@{rw-css-prefix}-caret-up:before {
  content: "\f077";
}
.@{rw-css-prefix}-caret-left:before {
  content: "\f053";
}
.@{rw-css-prefix}-caret-right:before {
  content: "\f054";
}

.@{rw-css-prefix}-clock-o:before {
  content: "\f017";
}
.@{rw-css-prefix}-calendar:before {
  content: "\f073";
}
.@{rw-css-prefix}-search:before {
  content: "\f002";
}

// Blueprint Specific CSS
.task-row {
  cursor: pointer;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  margin-bottom: 10px !important;
}

.task-completed .task-name {
  text-decoration: line-through;
}
